<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p><time>{{ date }}</time></p>
    <div>
      {{ markdown body }}
    </div>
    <div>
      <span><a href="/blog/{{ prev_path }}">{{ prev_title }}</a></span>
      <span><a href="/blog/{{ next_path }}">{{ next_title }}</a></span>
    </div>
  </body>
</html>